@charset "utf-8";
:root{
	--textColor: rgb(28, 70, 113);
}
body{
	margin: 0;
	overflow: hidden;
}

.MAIN{
	width: 100vw;
	height: 100vh;	
	background-image: url(assets/images/IndexBackground.svg);
	background-size: cover;
	position:fixed;
	resize: none;
}

.TEXT{
	position: absolute;

	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);

	/* background-color: rgba(255, 0, 0, 30%);  Background color for debugging*/
	color: var(--textColor);
	text-decoration: none;
	text-align: center;
	font-size: clamp(1rem, -0.875rem + 8.333333vw, 4rem);
	font-weight: bold;
}

.MagicText{
    width: 24em;
	margin: 0 auto; 
    position: relative;
    top: 90vh;  
    transform: translateY(-50%);
    
    border-right: 2px solid rgba(22, 56, 90,.75);
    white-space: nowrap;
    overflow: hidden;
	
    font-size: clamp(1rem, -0.875rem + 7.333333vw, 1.3rem);;
    text-align: center;
	color: var(--textColor);
}

/* Animation */
.MagicText{
	animation: typewriter 4s steps(44) 1s 1 normal both,
			blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
	from{width: 0;}
	to{width: 24em;}
}
@keyframes blinkTextCursor{
	from{border-right: 2px solid rgba(22, 56, 90,.50);}
	to{border-right-color: transparent;}
}
